* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: rgb(44, 44, 44);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(138, 131, 131);
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 0.875rem;
  }
}
